<div>
  <h1>¿Qué me parece Angular?</h1>
  <article>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, ex? Quos
      commodi at cumque doloribus labore! Nostrum beatae deleniti, modi ex ipsam
      voluptatum cupiditate laboriosam, in delectus, aliquid quae nihil ullam
      necessitatibus asperiores? Praesentium officiis nemo aliquid maiores
      facilis dolorum!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, ex? Quos
      commodi at cumque doloribus labore! Nostrum beatae deleniti, modi ex ipsam
      voluptatum cupiditate laboriosam, in delectus, aliquid quae nihil ullam
      necessitatibus asperiores? Praesentium officiis nemo aliquid maiores
      facilis dolorum!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, ex? Quos
      commodi at cumque doloribus labore! Nostrum beatae deleniti, modi ex ipsam
      voluptatum cupiditate laboriosam, in delectus, aliquid quae nihil ullam
      necessitatibus asperiores? Praesentium officiis nemo aliquid maiores
      facilis dolorum!
    </p>
  </article>

  @defer (on viewport) {
  <app-comments />
  } @placeholder {
  <h1>Futuros comentarios</h1>
  } @loading {
  <p>Cargando todos los comentarios...</p>
  }
</div>

<!--<router-outlet /> -->
